<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939542508470-3a7feboc7vere5h05guglvmuigks7pob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939542508470-3a7feboc7vere5h05guglvmuigks7pob</string>
	<key>API_KEY</key>
	<string>AIzaSyBodV-DYdy5mVGpk-7s_ExoF6oKEyWbacg</string>
	<key>GCM_SENDER_ID</key>
	<string>939542508470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grandmedia.grandband</string>
	<key>PROJECT_ID</key>
	<string>grandband-e879c</string>
	<key>STORAGE_BUCKET</key>
	<string>grandband-e879c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939542508470:ios:5547093064943419a8c717</string>
</dict>
</plist>